# Auto detect text files and perform LF normalization
*        text=auto


*.ts    text eol=lf merge=union
*.tsx   text eol=lf merge=union
*.rs    text eol=lf merge=union
*.js    text eol=lf merge=union
*.json  text eol=lf merge=union
*.debug text eol=lf merge=union

# Generated codes
index.js                         linguist-detectable=false
index.d.ts                       linguist-detectable=false
firecrawl-api-native.wasi-browser.js linguist-detectable=false
firecrawl-api-native.wasi.cjs        linguist-detectable=false
wasi-worker-browser.mjs          linguist-detectable=false
wasi-worker.mjs                  linguist-detectable=false
