.DS_Store
/node_modules/
/dist/
.env
*.csv
dump.rdb
/mongo-data
apps/js-sdk/node_modules/

apps/api/.env.local

apps/test-suite/node_modules/


apps/test-suite/.env
apps/test-suite/logs
apps/test-suite/load-test-results/test-run-report.json

apps/playwright-service-ts/node_modules/
apps/playwright-service-ts/package-lock.json


/examples/o1_web_crawler/venv
*.pyc
.rdb

apps/js-sdk/firecrawl/dist

/examples/o1_web_crawler/firecrawl_env
/examples/crm_lead_enrichment/crm_lead_enrichment_env
/.venv
/examples/claude_web_crawler/firecrawl_env
/examples/haiku_web_crawler/firecrawl_env
/examples/sonnet_web_crawler/firecrawl_env
/examples/internal_link_assitant/firecrawl_env

/apps/api/logs/*
/apps/api/debug/*

.vscode
llm-links.txt
mapped-links.txt