[submodule "apps/go-sdk/firecrawl"]
	path = apps/go-sdk/firecrawl
	url = https://github.com/mendableai/firecrawl-go
[submodule "apps/go-sdk/examples"]
	path = apps/go-sdk/examples
	url = https://github.com/mendableai/firecrawl-go-examples
